{% extends 'base.html.twig' %}

{% block title %}
	Opentuinendag Westzaan
{% endblock %}
{% block body %}
	<h1>Tuinen toevoegen, verwijderen of bewerken</h1>
	{% if gardens %}
		<table id="gardens" class="table table-striped">
			<thead>
				<tr>
					<th>Adres</th>

					<th>&nbsp;</th>


				</tr>
			</thead>
			<tbody>
				{% for garden in gardens %}
					<tr>
						<td>{{ garden.address }}</td>
						<td class="text-right">
							<a href="garden/{{ garden.id }}" class="btn btn-primary">Voorbeeld</a>
							<a href="garden/edit/{{ garden.id }}" class="btn btn-secondary">Tekst</a>
							<a href="garden/upload/{{ garden.id }}" class="btn btn-secondary">Foto's</a>
							<a href="#" class="btn btn-danger delete-garden" data-id="{{ garden.id }}">Verwijderen</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No gardens to display.</p>
	{% endif %}
{% endblock %}
{% block javascripts %}
	<script src="js/main.js"></script>
{% endblock %}
